server:
  address: ${SERVER_HOST}
  port: ${SERVER_PORT}
  servlet:
    context-path: /api/v1

spring:
  application:
    name: DocumentService

  web:
    resources:
      add-mappings: false

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none

  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.yaml
    default-schema: public

worker:
  submit:
    batch-size: 100
    fixed-delay: 60000
  approve:
    batch-size: 100
    fixed-delay: 60000

logging:
  level:
    com.group.itq: info